@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
    position: absolute;
}


li {
    display: inline-block;
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
}


header {
    width: 100%;
    height: 40px;
    position: fixed;
    background-color: #8f5b528e;
    padding: 10px 50px;
    display: flex;
    justify-content: center;
}

.loading{
	position:fixed;
	top:0;
	left:0;
	z-index:10;
	width:100%;
	height:100%;
	background-color:pink;
}

.header_banner{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	line-height:35px;
	text-align:center;
	z-index:9;
	font-size:13px;
	height:35px;
	overflow:hidden;
	border-bottom:1px solid #ebebeb;
}

.header_banner > ul{
	position:relative;
	top:0;
	z-index:1;
}

.header_banner a{
	display:block;
}

header .wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.header_menu i{
    margin: 0 7px;
}

.header_logo {
    font-size: 23px;
    color: white;   
}

a:hover {
  color: gray;
}

li.title > a{
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
}

ul.sub >li >a{
	font-size: 20px;
}

nav {
    width: 25%;
    height: 100%;
    display: none;
    position: fixed;
    background-color: #898f81a1;
    margin-top: 40px;
}

nav .wrap {
    margin: 30px 50px;
}

.menu.active {
    display: flex;
}

nav ul{
    display: flex;
    flex-direction: column;
}

nav ul li{
    background-color: (0,0,0.3);
}

main {
    width: 100%;
    background-color: #f0eddf;
    padding: 30px 30px;
    display: flex;
    justify-content: center;
}

main .wrap {
    display: flex;
    flex-direction: column;
}

footer {
    width: 100%;
    background-color: #32435F;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
}

footer .wrap {
    display: flex;
    font-size: 12px;
    color: lightgray;
}

.footer_left {
    flex-basis: 50%;
    padding-right: 50px;
    border-right: 1px solid gray;
}

.footer_terms {
    margin-bottom: 10px;
}

.footer_terms ul li {
    margin: 0px 10px;
}

.footer_business-info ul li {
    padding: 0px 10px;
    border-right: 1px solid gray;
}

.footer_business-info ul li:last-child{
    border-right: 0px;
}

.footer_right {
    flex-basis: 50%;
    display: flex;
    padding-left: 100px;
    border:0;
}

.footer_contact {
    margin-right: 40px;
}

.footer_contact_phone {
    margin-bottom: 10px;
    font-size: 16px;
}

.footer_contact_sns {
    font-size: 20px;
}

.footer_other {
    display: flex;
    flex-direction: column;
}
.footer_other_business-hour{
    margin-bottom: 10px;
}
.footer_other_bank {
    font-size: 16px;
}

.chat-bot {
    font-size: 30px;
    background-color: rgba(255, 166, 0, 0.575);
    color: rgb(37, 29, 29);
    position: fixed;
    bottom: 80px;
    right: 50px;
    padding: 20px;
    border-radius: 30%;
}