<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Order">
	
	<!-- 주문 창에서 필요한 상품 주문 정보 검색 -->
	<select id="orderInfo" parameterType="String" resultType="OrderItemVO">
		select cartid, p.productno, productname, price, c_amount
		from cartlist, products p
		where cartlist.productno = p.productno and cartid = #{cartid}
	</select>
	
	<!-- 주문 창에서 선택 여하에 따라 가져올 수 있는 회원 정보 검색 -->
	<select id="orderMemberInfo" parameterType="String" resultType="MemberVO">
		select id, name, addr, phone, point
		from members
		where id = #{id}	
	</select>
	
	<!-- 주문확인 후 주문 정보를 insert -->
	<insert id="insertOrder" parameterType="OrderInfoVO">
		insert into orderinfo
		values(1, #{id}, #{name}, #{addr}, #{phone}, #{point}, #{totalprice})
	</insert>
	
	<!-- 주문 처리 과정에서 필요한 orderid를 select -->
	<select id="selectOrderid">
	
	</select>
	
</mapper>