<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="Review">
	
	<!-- 상품 상세페이지 리뷰 조회 -->
	<select id="reviewList" parameterType="string"
			resultType="com.bc.review.vo.ReviewListVO">
		SELECT REVIEWID, PRODUCTNO, ID, REVIEW, R_REG
		  FROM REVIEWLIST
		 WHERE PRODUCTNO = #{productno}
		 ORDER BY REVIEWID DESC
	</select>
	
	<!-- 상품번호에 따른 리뷰 수 조회 -->
	<select id="totalCount" parameterType="string" resultType="int">
		SELECT COUNT(*)
		  FROM REVIEWLIST
		 WHERE PRODUCTNO = #{productno}
	</select>
	
	<!-- 해당상품에 해당하는 리뷰 가져오기 -->
	<select id="list" parameterType="Map" 
			resultType="com.bc.review.vo.ReviewListVO">
		SELECT REVIEWID, PRODUCTNO, ID, REVIEW, R_REG
		  FROM ( SELECT ROWNUM AS RN, B.* 
				   FROM ( SELECT *
				   			FROM REVIEWLIST
				   		   WHERE PRODUCTNO = #{productno}
				   		   ORDER BY REVIEWID DESC
				   		) B 
		  		)
		 WHERE RN BETWEEN #{begin} AND ${end}
	</select>
	
	<select id="reviewSelectOne" parameterType="string"
			resultType="com.bc.review.vo.ReviewListVO">
		SELECT REVIEWID, PRODUCTNO, ID, REVIEW, R_REG
		  FROM REVIEWLIST
		 WHERE REVIEWID = #{reviewId}
	</select>
	
	<!-- 리뷰 생성 -->
	<insert id="reviewInsert" parameterType="com.bc.review.vo.ReviewListVO">
		<selectKey keyProperty="reviewId" resultType="String" order="BEFORE">
    		SELECT REVIEW_SEQ.NEXTVAL FROM DUAL
  		</selectKey>
		INSERT INTO REVIEWLIST
				(REVIEWID, PRODUCTNO, ID, REVIEW, R_REG)
		VALUES (#{reviewId}, #{productno}, #{id}, #{review}, SYSDATE)
	</insert>
	
	<!-- 리뷰 삭제 -->
	<delete id="reviewDelete" parameterType="string">
		DELETE FROM REVIEWLIST WHERE REVIEWID = #{reviewId}
	</delete>

</mapper>









