	#wrap  { margin: 0 auto; }
	#wrap hr { width: 600px; border: 1px solid navy; }
	#header, #nav {
		width: 600px;
		margin: 10px auto;
		text-align: center;
	}
	#header { font-size: 2em; }
	#nav { font-size: 1.5em; }
	#nav a { text-decoration: none; }
	#nav a:hover { text-decoration: underline; color: red; }