<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>   
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
      <typeAlias type="com.bc.member.model.vo.MemberVo" alias="MemberVo"/>
      <typeAlias type="com.bc.cart.model.vo.CartListVO" alias="CartListVO"/>
      <typeAlias type="com.bc.order.model.vo.OrderItemVO" alias="OrderItemVO"/>
      <typeAlias type="com.bc.product.ProductVO" alias="ProductVO"/>
      <typeAlias type="com.bc.order.model.vo.OrderInfoVO" alias="OrderInfoVO"/>
      <typeAlias type="com.bc.order.model.vo.OrderDetailVO" alias="OrderDetailVO"/> 
      <typeAlias type="com.bc.order.model.vo.OrderListVO" alias="OrderListVO"/>
   </typeAliases>
   
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
        <property name="username" value="PJ_183ST"/>
        <property name="password" value="183pw"/>
      </dataSource>
    </environment>
  </environments>
  
  <mappers>
    <mapper resource="com/bc/product/mapper.xml"/>
    <mapper resource="com/bc/member/mapper/mapper.xml"/>
    <mapper resource="com/bc/cart/mapper/mapper.xml"/>
    <mapper resource="com/bc/bbs/mapper/mapper.xml"/>
    <mapper resource="com/bc/order/mapper/mapper.xml"/>
    <mapper resource="com/bc/review/mapper/mapper.xml"/>
  </mappers>
</configuration>