.main_slide-banner {
    width: 100%;   
    height: 350px;
    background-image: url("https://images.unsplash.com/photo-1527963841590-34ea3172750d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80;");
    margin-top: 40px;
}

main {
    width: 100%;
    background-color: #f0eddf;
    padding: 30px 30px;
    display: flex;
    justify-content: center;
}

main .wrap {
    display: flex;
    flex-direction: column;
}

main div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.item_list_title {
    font-size: 18px;
    margin-bottom: 23px;
}


.item_list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item_box {
    display: flex;
    flex-direction: column;
    align-content: center;
    font-size: 14px;
}

.item_img {
    width: 230px;
    height: 300px;
}
