<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BBS">
	
	<!-- 전제 게시글 수 조회 -->
	<select id="totalCount" resultType="int">
		SELECT COUNT(*)
		FROM QNALIST
	</select>
	
	<!-- 페이지에 해당하는 글목록(게시글) 가져오기 -->
	<select id="list" resultType="com.bc.bbs.vo.QnAListVO"
			parameterType="Map">
		SELECT BBS_NO, PRODUCTNO, ID, CONTACT, CATEGORY, SUBJECT, Q_REG
		  FROM ( SELECT ROWNUM AS RN, B.* 
				   FROM ( SELECT *
				   			FROM QNALIST
				   		   ORDER BY BBS_NO DESC
				   		) B	  
		  		)
		 WHERE RN BETWEEN #{begin} AND ${end}
	</select>
	
	<!-- 게시글 하나 조회 (상세페이지)-->
	<select id="one" parameterType="string" 
			resultType="com.bc.bbs.vo.QnAListVO">
		SELECT BBS_NO, PRODUCTNO, ID, CONTACT, CATEGORY, SUBJECT, Q_REG
	  	  FROM QNALIST
	 	 WHERE BBS_NO = #{bbs_no}
	</select>
	
	<!-- 상품번호 조회 -->
	<select id="prono" resultType="string">
		SELECT PRODUCTNO
		  FROM PRODUCTS
		 ORDER BY PRODUCTNO
	</select>
	
	<!-- 게시글 작성 -->
	<insert id="insert" parameterType="com.bc.bbs.vo.QnAListVO">
		<selectKey keyProperty="bbs_no" resultType="String" order="BEFORE">
    		SELECT BBSNO.NEXTVAL FROM DUAL
  		</selectKey>	
		INSERT INTO QNALIST
				(BBS_NO, PRODUCTNO, ID, SUBJECT, CONTACT, CATEGORY, Q_REG )
		VALUES (#{bbs_no}, #{productno}, #{id}, #{subject}, #{contact},
				#{category}, SYSDATE)
	</insert>
	
	<!-- 게시글 수정 -->
	<update id="update" parameterType="com.bc.bbs.vo.QnAListVO">
		UPDATE QNALIST
		   SET SUBJECT = #{subject},
		       CONTACT = #{contact},
		       CATEGORY = #{category}
		 WHERE BBS_NO = #{bbs_no}
	</update>
	
	<!-- 게시글 삭제 -->
	<delete id="delete" parameterType="string">
		DELETE FROM QNALIST WHERE BBS_NO = #{bbs_no}
	</delete>
</mapper>









